.bg-colour {
    background-color: rgba(26, 188, 156, 0.9);
}

.img {
    margin-top: 180px;
}

.para {
    color: white;
    font-size: 20px;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}






